<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/02d7af26-c502-4128-8e08-7966c0c0a770/resourceGroups/mongodb/providers/Microsoft.Web/sites/mongodbchangestream</ResourceId>
    <ResourceGroup>mongodb</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <PublishUrl>https://mongodbchangestream.scm.azurewebsites.net/</PublishUrl>
    <SiteUrlToLaunchAfterPublish>http://mongodbchangestream.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <UserName>$mongodbchangestream</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>